.container {
  width: 500px;
  height: 640px;
  border: 0.5px solid lightgray;
  margin: 50px auto;
  background-color: white;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
  padding: 24px;
  border-radius: 8px;
}


.container h1 {
  margin: 0px;
}

.container h2 {
  margin: 0px;
  margin-bottom: 8px;
}
